In [11]:
import pandas as pd
import numpy as np

In [12]:
dataset = pd.read_csv('extracted_data.csv')
dataset.head(2)

          HR      SDNN      Pnn50     RMSSD  label
0  76.581161  0.169376  32.608696  0.292701      1
1  48.515809  0.102410  20.000000  0.163183      1

In [13]:
feature_set = dataset.drop(['label'],axis=1,inplace=False)
feature_set

           HR      SDNN      Pnn50     RMSSD
0   76.581161  0.169376  32.608696  0.292701
1   48.515809  0.102410  20.000000  0.163183
2   55.448202  0.147068  23.529412  0.250510
3   72.142741  0.189687  16.867470  0.149683
4   56.433247  0.211408  31.343284  0.300328
..        ...       ...        ...       ...
79  69.100392  0.019580   0.000000  0.013988
80  78.852889  0.028973   5.128205  0.026071
81  72.664320  0.024836   1.388889  0.018414
82  75.793491  0.021232   1.351351  0.022980
83  54.670612  0.012868   0.000000  0.018493

[84 rows x 4 columns]

In [14]:
target = pd.DataFrame(dataset['label'])
target

    label
0       1
1       1
2       1
3       1
4       1
..    ...
79      0
80      0
81      0
82      0
83      0

[84 rows x 1 columns]

In [15]:
from sklearn.feature_selection import SelectKBest
from sklearn.feature_selection import chi2

In [16]:
bestfeatures = SelectKBest(score_func=chi2, k=4)
fit = bestfeatures.fit(feature_set, target)
dfscores = pd.DataFrame(fit.scores_)
dfcolumns = pd.DataFrame(feature_set.columns)
#concat two dataframes for better visualization 
featureScores = pd.concat([dfcolumns,dfscores],axis=1)
featureScores.columns = ['Feature','Score']  #naming the dataframe columns
print(featureScores.nlargest(10,'Score'))  #print

  Feature        Score
2   Pnn50  1085.140972
3   RMSSD     5.069989
1    SDNN     2.173098
0      HR     0.278239

In [17]:
from sklearn.linear_model import Perceptron
X =feature_set
y = target
clf = Perceptron(tol=1e-3, random_state=0)
clf.fit(X, y)

coeffs = clf.coef_
coeffs

C:\Users\hafid\AppData\Local\Programs\Python\Python310\lib\site-packages\sklearn\utils\validation.py:993: DataConversionWarning: A column-vector y was passed when a 1d array was expected. Please change the shape of y to (n_samples, ), for example using ravel().
  y = column_or_1d(y, warn=True)

array([[-118.55015306,    3.6054277 ,  244.20095954,    7.25775545]])